extends ../../_component/layout/template

block cool-config
  -
    var myTitle= 'JavaScript Comments are really easy to learn!';
    var myDescription= 'JavaScript comments can be used to explain JavaScript code, and to make it more readable.';
    var landingPage='JavaScript';
    var activeLink= '/javascript/comments';

block awesome-content
  h1=myTitle
  p=myDescription
  p JavaScript comments can also be used to prevent execution, when testing alternative code.
  h3 Single line Comments
  p Single line comments start with //.
  p Any text between // and the end of the line will be ignored by JavaScript (will not be executed).
  h3 Multi-line Comments
  p Multi-line comments start with /* and end with */.
  p Any text between /* and */ will be ignored by JavaScript.
