extends ../../_component/layout/template

block cool-config
  -
    var myTitle= 'Learn to code about JavaScript Variables.';
    var myDescription= 'JavaScript Variables are funny and easy to learn!';
    var landingPage='JavaScript';
    var activeLink= '/javascript/variables';

block awesome-content
  h1=myTitle
  p=myDescription
  h2 JavaScript Variables
  p JavaScript variables are containers for storing data values.
  p In this example, x, y, and z, are variables:
  ul
  li var x = 5;
  li var y = 6;
  li var z = x + y;
  p From the example above, you can expect:
  ol
  li x stores the value 5
  li stores the value 6
  li z stores the value 11
  p For more information about JavaScript Variables check #[a(href="https://www.w3schools.com/js/js_variables.asp") this link].