extends _component/layout/template

block cool-config
  -
    var myTitle= 'Learn to code HTML, CSS and JavaScript';
    var myDescription= 'This is a copy of w3schools.com';
    var landingPage='Home';
    var activeLink= '';

block awesome-content
  h1 This is a replica of W3schools.com
  p Aici invat programare web. #[a(href="/" title="cool cooltip") Check it out! ]
  h2 HTML
  p The language for building web pages. #[a(href="/html") HTML link]
  h2 CSS
  p The language of styling web pages. #[a(href="/css") CSS link]
  h2 JavaScript
  p The language of porogramming web pages. #[a(href="/javascript") Javacript link]